*{
    box-sizing: border-box;
}

body{
    width: 80°%;
    max-width: 900px;
    margin:auto;
}

main{
/*szülöelem*/
display:grid
grid-template-colums: 1fr 1fr 1fr;
grid-template-areas:
"h h h"
ˇ"n a a"
"f f f"
}

header{
border-color: aquamarine;
ˇgrid-arena:h;
}

nav{
background-color: bisque;
grid-arena:n;
}

article{
background-color: blue;
grid-arena:a;
}

footer{
background-color: greenyellow;
grid-arena:f;
}

/*grides oldalalakitás lépései
1. meghatázozzuk a szülöelemet(main- display:grid)
2. elnevezük a gyerekeket grid-arena:nev (header, nav, article, footer)
3. a szülöelemen létrehozuk a rácsszerkezetet grid tample-colums> 1fr 1fr 1 fr
4.elhelyezük a rácson a gyerekelemeket grid-tamplate-areas
*/


/*menüpont formazas*/
nav li {
    list-style: none;
background-color: aliceblue;
padding: 5px;
margin: 5px 0;
}

nav ul{
    padding-left: 0px;
}

nav a{
    text-decoration: none;
}

nav li:hover a{
    color: aliceblue; 
}


nav li:hover{
    background-color: rgb(red, green, blue);
}

@media screen and (max-width: 600px){
    body{
        width: 100%;
    }
main{
/*szülöelem*/

grid-template-colums:  1fr;
grid-template-areas:
"h"
"n"
"a"
"f"
}    
nav ul{
    display: grid;
    grid-template-columns: 100px 100px;
}

nav li{
    margin: 5px;
}
}
